<div class="page-content">
    
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = 'info'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    
    <div class="page-header">
        <h1>
            {:model('menu')->getName()} {gt name="$Request.get.group_id" value="0"} [{:model('AdminGroup')->getGroupName($Request.get.group_id)}]{/gt}
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th class="detail-col">序号</th>
                                <th>订单号</th>
                                <th>购买者ID</th>
                                <th>订单状态</th>
                                <th>商品ID</th>
                                <th>购买数量</th>
                                <th>价格</th>
                                <th>订单创建时间</th>
                                <th>
                                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                    最后修改时间
                                </th>
                                <th>管理员操作</th>
                                
                            </tr>
                        </thead>

                        <tbody>
                            {volist name="lists" id="vo"}
                            <tr>
                                <td class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>{$vo.id}</td>
                                
                                <td><a href="#">{$vo.order_sn}</a></td>
                                <td><a href="#">{$vo.user_id}</a></td>
                                <td><a href="#">{$vo.status}</a></td>
                                <td><a href="#">{$vo.goods_id}</a></td>
                                <td><a href="#">{$vo.count}</a></td>
                                <td><a href="#">{$vo.price/1000}</a></td>
                                 <td>{:date('Y-m-d H:i:s',$vo.created_at)}</td>
                                <td>{:date('Y-m-d H:i:s',$vo.updated_at)}</td>
                               
                                
                                
                                <td>
                                   
                                    <div class="hidden-sm hidden-xs btn-group">

                                        <a href='{:url("info","id=$vo[id]")}' 
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                           
                                        </a>
                                        <a href='javascript:void(0)' onclick="return alert_del('{:url(\"del\",\"id=$vo[id]\")}', '确认要删除『 id={$vo.id} 』这条记录吗？');" 
                                           <span class="btn btn-xs btn-danger">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                            
                                        </a>
                                       
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("info","id=$vo[id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"del\",\"id=$vo[id]\")}', '确认要删除『 id={$vo.id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                   
                                </td>
                                
                            </tr>
                            {/volist}    
                        </tbody>
                    </table>
                   
                </div><!-- /.span -->
            </div><!-- /.row -->
             
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



